# Binaries
**/bin/
bin-int/
Intermediates/

# Hazel files
*.log
*.obj

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
/VulkanTest/resources/models/UnityHubSetup.exe
/VulkanTest/resources/shaders/Shader.vert
/VulkanTest/resources/shaders/Shader.frag
/VulkanTest/src/Platform/Vulkan/PipelineBuilder.cpp
/VulkanTest/src/Platform/Vulkan/PipelineBuilder.h
